.user-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 60%; */
    background-color: #F59580;
    padding: 0px 50px;
    margin: 0px auto;
    width: 70%;
    color: white;
}

.pagi {
    margin: 20px auto;
    width: 50px;
    display: flex;
    justify-content: space-around;
}